<div class="resume-section font-medium text-zinc-900 mb-5">Worked as.</div>

<!-- Iamneo Edutech Pvt. Ltd. -->
<div class="border-l-2 mb-6 pl-4 hover:border-red-300 hover:cursor-default transition-all">
    <div class="flex flex-row justify-between">
        <div>
            <div class="text-base font-bold text-zinc-900">Iamneo Edutech Pvt. Ltd.</div>
            <div class="text-sm text-zinc-600 pt-0.5">Lead Software Engineer / Senior Software Engineer</div>
        </div>
        <div class="text-sm text-zinc-500">
            May, 2021 - Present
        </div>
    </div>
    <div class="pl-4 pt-4">
        <ul>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Enhanced <span class="text-zinc-800">Kubernetes-based auto-scaling</span> for nodes and pods, enabling seamless performance for a cloud IDE handling 1000+ scale events daily.</li>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Migrated serverless compiler infrastructure to <span class="text-zinc-800">VM-based deployments using AWS spot instances</span>, reducing monthly expenses from ~$2000 to $540.</li>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Architected and deployed an <span class="text-zinc-800">auto-scaled Oracle server</span>, decreasing operational and licensing costs from $300+ to $100 per month.</li>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Led cross-functional initiatives with PMs and <span class="text-zinc-800">mentored 15+ junior engineers</span>, delivering scalable features on time.</li>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Engineered a real-time notification service using <span class="text-zinc-800">Redis Pub/Sub and SSE</span>, supporting efficient high-throughput user updates.</li>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Developed and scaled <span class="text-zinc-800">Node.js RESTful APIs</span> with Redis and MySQL, maintaining 99.98% uptime for over 50K daily active users.</li>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Developed a real-time notification service using <span class="text-zinc-800">Redis Pub/Sub</span> and <span class="text-zinc-800">Server-Sent Events (SSE)</span> for high-throughput user updates with minimal resource overhead.</li>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Integrated <span class="text-zinc-800">OpenID Connect</span> for SSO, boosting platform security and user adoption across client platforms.</li>
        </ul>
    </div>
</div>

<!-- Codeshastra Software Solutions -->
<div class="border-l-2 mb-6 pl-4 hover:border-red-300 hover:cursor-default transition-all">
    <div class="flex flex-row justify-between">
        <div>
            <div class="text-base font-bold text-zinc-900">Codeshastra Software Solutions</div>
            <div class="text-sm text-zinc-600 pt-0.5">Senior Software Engineer</div>
        </div>
        <div class="text-sm text-zinc-500">
            Jul, 2022 – Jan, 2023
        </div>
    </div>
    <div class="pl-4 pt-4">
        <ul>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Architected a <span class="text-zinc-800">Scalable EdTech Platform</span> using NodeJs, React, PostgreSQL, and MongoDB, enabling seamless support for interactive learning features and managing high user concurrency.</li>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Designed a robust codebase structure with best practices for performance and maintainability under tight delivery timelines.</li>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Integrated <span class="text-zinc-800">CRM systems and LTI (Learning Tools Interoperability)</span> with internal workflow tools to streamline operations, automate data flow, and improve interoperability with external platforms.</li>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Implemented real-time student engagement and progress tracking to support learning outcomes and optimize instructional design.</li>
        </ul>
    </div>
</div>

<!-- Vetologic Technologies Pvt. Ltd. -->
<div class="border-l-2 mb-6 pl-4 hover:border-red-300 hover:cursor-default transition-all">
    <div class="flex flex-row justify-between">
        <div>
            <div class="text-base font-bold text-zinc-900">Vetologic Technologies Pvt. Ltd.</div>
            <div class="text-sm text-zinc-600 pt-0.5">Associate Software Engineer</div>
        </div>
        <div class="text-sm text-zinc-500">
            Jan, 2020 – Apr, 2021
        </div>
    </div>
    <div class="pl-4 pt-4">
        <ul>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Built and maintained web applications using <span class="text-zinc-800">Angular, Java Spring Boot, and Hibernate</span>, delivering scalable, secure systems for internal and client use.</li>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Modernized a legacy financial application by migrating it from <span class="text-zinc-800">Java Servlet + JSP</span> to a modern <span class="text-zinc-800">Java 8 + Spring Boot + Angular</span> architecture, significantly enhancing performance and maintainability.</li>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Migrated production environment from <span class="text-zinc-800">Windows Server to CentOS</span>, resulting in better performance and operational stability.</li>
            <li class="list-disc list-outside text-base text-zinc-500 pb-2">Collaborated with designers and business stakeholders to ideate, plan, document, and deliver SAAS products aligned with client needs.</li>
        </ul>
    </div>
</div>

